body {
	
  font: 75px Raleway, sans-serif;
  color: white;
   background-image: url("bg.jpg");
 background-position: center center;
  background-repeat: no-repeat;
background-attachment: fixed;
  background-size: cover;
  
}

.center {
	position: absolute;
    left: 0;
    text-align: center;
}



.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 160px 320px;
}

.container:hover .image {
  opacity: 1;
}

.image {
  display: block;
  opacity: 0.3;
  width: 95%;
  position: relative;
  transition: .5s ease;
  backface-visibility: hidden;
}

.container {
	position: relative;
	width: 50%;
	left: 25%;

}

/* ta uma bagunça? ta uma bagunça, caguei? caguei */
